<div class="footer">
	<div class="container">
  
  <div class="row">
  <div class="col-md-6">

  	<small>
    <%= link_to "ExecAdemy", "http://execademy.com" %>
    by <%= link_to "Ash Khanna", "http://ashkhanna.com" %>
  </small>

  </div>
  
  <div class="col-md-3">.col-md-3</div>
  <div class="col-md-3">.col-md-3</div>
</div>

</div>
</div>

